<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Song Details</title>
</head>
<body>
<header>
    <h1 th:text="${song.getTitle()}">Song title</h1>
</header>
<section>
    <h2>Genre: <span th:text="${song.getGenre()}"></span></h2>
    <h2>Year: <span th:text="${song.getReleaseYear()}"></span></h2>
    <h2>Performers:</h2>
    <ul>
        <li th:each="performer : ${song.getPerformers()}" th:text="${performer.getFirstName()} + ' ' + ${performer.getLastName()}"></li>
    </ul>
</section>
<!--<h2>Comments</h2>-->
<!--<div th:each="c : ${comments}">-->
<!--    <div>-->
<!--        <span th:text="c"></span>-->
<!--    </div>-->
<!--</div>-->

<!--<form method="POST" th:action="${'/songs/addComment'}">-->
<!--    <input type="hidden" th:value="${trackId}" name="trackid">-->
<!--    <input th:type="text" name="commentar">-->
<!--    <button>Add new comment</button>-->
<!--</form>-->
<section>
    <h3>Number of visits: <span th:text="${visitCount}"></span></h3>
</section>
<a  href="/songs">Home</a>
</body>
</html>
